<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat App</title>
    <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/room.css" />
    <link rel="stylesheet" href="emoji/emojionearea.min.css" />
    <script src="emoji/emojionearea.min.js"></script>

    <script>
      const roomName = "<%= roomName %>";
    </script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <div id="message-container"></div>
    <form id="send-container">
      <textarea
        id="message-input"
        cols="50"
        rows="4"
        placeholder="Enter your message..."
        style="display: none;"
        required
      ></textarea>
      <button onclick="eraseData()" type="submit" id="send-button">Send</button>
    </form>
    <script>
      $(document).ready(function () {
        $("#message-input").emojioneArea({
          filtersPosition: "bottom",
        });
      });
      function eraseData() {
        const emoji = document.querySelector(".emojionearea-editor");
        emoji.innerHTML = "";
      }
    </script>
  </body>
</html>
