body {
  position: relative;
  background: linear-gradient(to top, #08003b, #0d227b);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  width: 90vh;
  height: 90vh;
  background: url(images/img1.png);

  background-size: cover;
}
#user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#send-user {
  background: transparent;
  border: none;
  cursor: pointer;
}
#send-user svg {
  transform: rotate(45deg);
}
#room-container {
  display: none;
  overflow-y: auto;
  width: 200px;
  height: 200px;
  background: aliceblue;
  padding: 3px;
  border-radius: 10px;
}
#room-container::-webkit-scrollbar {
  width: 0.5em;
}
#room-container::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 10px;
}
#room-container div {
  margin-top: 10px;
  border-bottom: 2px solid blue;
  display: flex;
  align-items: center;
}

#room-container div a {
  margin-left: auto;
}
#roomForm {
  display: none;
}

#welcome {
  color: white;
  display: none;
  font-size: 20px;
}

#welcome div span {
  color: white;
  margin: 1px;
  font-size: 40px;
}
.online-users {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  display: none;
  width: min(85vh, 85vw);
  height: min(85vh, 85vw);
  z-index: 9999;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}
#OpenUserTab {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  border: 1px solid white;
}
.current-users {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 15px;
}
